<!DOCTYPE HTML>
<html>

<head>
	<% include partials/head1.ejs %>
	<!-- This will include and link all the required js and css files -->
	<!-- //fonts -->
	<style>
		#map {
			height: 825px;
			width: 100%;
			z-index: 10;
		}
	</style>
</head>

<body>

	<% include partials/navbar1.ejs %>
	<% include partials/sidebar1.ejs %>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<!-- <div>
			<h1 style="z-index:9999999999">
				<%= coord %>
			</h1>
		</div> -->
		<div id="right-panel"></div>
		<div id="map"></div>

	</div>

	<script>

		function initMap() {

			var origin_back = <%= coord %>;
			if (origin_back) {
				var uluru = { lat: 25.495996, lng: 81.868219 };
				var map = new google.maps.Map(
					document.getElementById('map'), { zoom: 15, center: uluru });
				var marker = new google.maps.Marker({ position: uluru, map: map });
			}
			else {

				var directionsService = new google.maps.DirectionsService;
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 7,
					center: { lat: 41.85, lng: -87.65 }
				});

				directionsService.route({
					origin: "<%= src %>",
					destination: "<%= dest %>",
					travelMode: 'DRIVING',
					provideRouteAlternatives: true
				}, function (result, status) {
					console.log(<%= result1 %>);
					var arr = [];
					
					<% result1.forEach(element => { %>
						console.log("<%= element %>")
						arr.push(<%= element %>)
						<% }); %>
					var max = -10000000, idx = -1;
					for (i = 0; i < arr.length; i++) {
						if (arr[i] > max) {
							max = arr[i];
							idx = i;
						}
					}
					for (var i = 0; i < result.routes.length; i++) {
						//	if (i != idx) {
						var directionsRenderer = new google.maps.DirectionsRenderer({
							polylineOptions: {
								strokeColor: "red"
							}
						});
						//	}
						directionsRenderer.setMap(map);
						directionsRenderer.setRouteIndex(i);
						directionsRenderer.setDirections(result);
					}
					if (idx != -1) {
                        let safety = '<%= safety %>';
                        var directionsRenderer;
                        if (safety == 'true') {
                            directionsRenderer = new google.maps.DirectionsRenderer({
                                polylineOptions: {
                                    strokeColor: "blue"
                                }
                            });
                        }else{
                            directionsRenderer = new google.maps.DirectionsRenderer({
                                polylineOptions: {
                                    strokeColor: "green"
                                }
                            });
                        }

                        directionsRenderer.setMap(map);
                        directionsRenderer.setRouteIndex(idx);
                        directionsRenderer.setDirections(result);
                    }
				});


			}
		}

	</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGJuiMIFfz2EqhwuWBXtBSdFbILXAl-M0&libraries=places&callback=initialize"
		async defer></script>
	<script>
		function initialize() {
			initMap();
			activateAutoComleteBar();
		}
	</script>

	<!-- <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDypqxioUk_qw86oohlmAxtxRKTU-DLcNg&callback=initMap"></script> -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="static/js/bootstrap.min.js"></script>
	<script src="/static/js/mainscript.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>

</html>